<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correct Answers</title>
    <link rel="stylesheet" href="static/style2.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2>Correct Answers</h2>
        <div class="question">
          <ol type="numbers">
            {%for i in range(length)%}
            <li>
              <p>{{Questions_correct[i]}}</p>
              <div class="answers"><span>Ans.</span> {{correct_answer[i]}}</div>
              {%endfor%}
            </li>
          </ol>
        </div>
        <div class="submit">
          <form action="/clear" method="post">
            <input type="hidden" name="dashboard" value="dashboard" />
            <input
              type="submit"
              name="dashboard"
              class="register_btn"
              value="Go To Dashboard"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
